/* https://www.w3schools.com/css/css3_flexbox_container.asp */
.page_col {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.page_main_row {
    display: flex;
    flex-direction: row;
}

.page_main_left_col {
    display: flex;
    flex-direction: column;
}

.page_main_centre_col {
    display: flex;
    flex-direction: column;
}

.page_main_right_col {
    display: flex;
    flex-direction: column;
}

.page_bottom_row {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.ship_table {
    table-layout: auto;
    width: 150px;
}

.map_canvas {
    width: 600px;
    height: 400px;
    border: 1px;
}

/* https://www.w3schools.com/css/css_grid.asp */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 2px;
}